* {
    margin: 0;
    padding: 0;
    
}
/* body {
    overflow-y: scroll;
} */
.player {
    box-shadow: 0 0 0 1px;
    text-align: center;
    margin: auto;
    background-color: rgb(252, 244, 244);
    
}
/* .player::-webkit-scrollbar {
    display: none;
} */
/* ---------------------------------------- */
.header {
    padding-bottom: 20px;
}
.dashboard {
    width: 100%;
    background-color: white;
    /* position: -webkit-sticky;
    position: sticky; */
    position: fixed;
    top: 0;
}
#progress {
    width: 90%;
    height: 5px;
    outline: none;
    background: #d3d3d3;
    margin-bottom: 10px;
}
/* ---------------------------------------- */
.toolbar {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.bi-pause-circle-fill {
    display: none;
}
.pause {
    font-size: 50px;
    color: rgb(233, 49, 79);
}
.bi:hover {
    cursor: pointer;
}
/* ------------------------------------------ */
.cd {
    display: flex;
    width: 200px;
    margin: auto;
}
.cd-thumbnail {
    background-image: url("./images/divide-ed-sheeran.jpg");
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-size: cover;
}
/* ------------------------------------------ */
.playlist {
    padding-top: 380px;
}
.song {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 288px;
    margin: 12px auto 12px auto;
    background-color: white;
}
.song-thumbnail {
    width: 35px;
    height: 35px;
    background-image: url("./images/divide-ed-sheeran.jpg");
    background-size: cover;
    border-radius: 50%;
    margin: 15px 16px 15px 16px
}
.option {
    padding-right: 15px
}
.description {
    flex: 1;
    text-align: left;
}
